body {
  margin: 0;
  font-family: Arial, sans-serif;

}

.navbar {
  background-color: royalblue;
  padding: 15px;
  height: 80px;
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(40, 39, 39);
  box-shadow: 10px 10px 20px rgb(22, 22, 23);
}

.navbar-toggle {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}
.logo {
  font-size: 1.5em;
  font-weight: bold;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Media query for screens smaller than 768px (typical phones) */
@media only screen and (max-width: 768px) {
  .navbar-toggle {
    display: block; /* Show on smaller screens */
  }

  .nav-list {
    display: none; /* Hide the links by default on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 70px; /* Adjust as needed based on your design */
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
  }

  .nav-list.show {
    display: flex; /* Show the links when the class 'show' is added */
  }
}
/* after navigation bar*/


body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;

  margin: 0 auto;
}
.proposal {
  color:steelblue;
}

/* Slider section styles */
.slider_section {
  position: relative;
  overflow: hidden;
  background-color: darkslategray; /* Set your background color */
  background-image:url("static/img/img_1.png") ;
  height: 550px;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  display: none; /* Hide all items by default */
  text-align: center;
  color: whitesmoke; /* Set your text color */
}

.carousel-item.active {
  display: block; /* Show only the active item */
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.detail-box {
  text-align: left;
  padding: 50px;
}

.detail-box h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.detail-box p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.btn-box {
  display: flex;
  margin-top: 90px;
}

.btn1,
.btn2 {
  display: inline-block;
  padding: 15px 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  background-color:steelblue ; /* Set your button background color */
  font-size: 1.2em;
}

/* Animation styles */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .detail-box {
    padding: 30px;
  }

  .detail-box h1 {
    font-size: 2.5em;
  }

  .detail-box p {
    font-size: 1.2em;
  }

  .btn-box {
    flex-direction: column;
  }

  .btn1, .btn2 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .detail-box {
    padding: 20px;
  }

  .detail-box h1 {
    font-size: 2em;
  }

  .detail-box p {
    font-size: 1em;
  }

  .btn1, .btn2 {
    padding: 10px 20px;
    font-size: 1em;
  }
}

/*End of after nav bar*/

/* Testimonial */
/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}
/* Popular services section */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  flex-basis: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.service img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.service h3 {
  margin-top: 10px;
  font-weight: bold;
}

/* Customer reviews section */
.review {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.review p {
  font-style: italic;
}

.review span {
  display: block;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}
/*top container*/
.background-container {
   background-image: url("static/img/topcontainer.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100vw;
    grid-row: 1 / span 2;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  .background-text {
    position: absolute;
    top: 30%;
    right: 20px; /* Adjust as needed */
    transform: translateY(-50%);
    color: royalblue;
    font-size: 30px;
    text-align: right;
    font-weight: 1000;
    z-index: 100;
  }
/* Bottom most container */

.bottom-container {
  display: flex;
  justify-content: space-around;
  background-color:darkslategray;
  padding: 20px;
}

/* Style for each Column */
.column {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.column h3 {
  color: steelblue;
}

.column p {
  color: antiquewhite;
  margin-bottom: 10px;
}

/* Social Icons */
.social-icon {
  margin: 0 5px;
}

/* Newsletter Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.subscribe-button {
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .bottom-container {
    flex-direction: column;
  }

  .column {
    margin-bottom: 20px;
  }
}
.bg-black {
    background-color: black;
}
/* card section service start*/

/* Styles for the Services Section */
.services-mf {
  background-color: #f8f9fa; /* Background color for the section */
  padding: 60px 0; /* Adjust padding as needed */
}

.title-box {
  margin-bottom: 40px;
}

.title-a {
  font-size: 36px;
  color: black; /* Title color */
}

.subtitle-a {
  font-size: 18px;
  color: black; /* Subtitle color */
}

.line-mf {
  width: 30%;
  height: 1px;
  background-color: #007bff; /* Line color */
  margin: 16px auto;
}

/* Styles for the Service Cards */
.service-box {
  border: 1px solid steelblue;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Box shadow for the card */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.service-box:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.service-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #007bff; /* Circle background color */
  color: #fff; /* Circle icon color */
}

.ico-circle {
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  background-color: #fff; /* Background color for the circle */
}

.service-content {
  padding: 20px;
  background-color: floralwhite;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  overflow: hidden;
}
.service-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  pointer-events: none;
}

.s-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black; /* Service title color */
}

.s-description {
  font-size: 16px;
  color: black; /* Service description color */
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fadeInUp animation to service content */
.service-content {
  animation: fadeInUp 0.8s ease-out;
  animation-fill-mode: both;
  padding: 20px;
}
/* Hover Effect on Service Content */
.service-content:hover::before {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, #ffffff 100%);
}
/* Animation on Hover */
.service-content:hover {
  animation: animate__animated animate__bounce; /* You can change 'bounce' to any other animation class */
}
/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .service-box {
    margin-right: 0;
  }
}

/*card section service end*/


